# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log

# Local tfvars 
*.tfvars
*.tfvars.json

# Local environment files
.env
.env.* 

# OS / Editor
.DS_Store
.vscode/
.idea/

# Data files - ignore large data files
*.csv
*.parquet
ny_taxi_postgres_data/
ny-taxi-postgres_data/
output.csv
output.parquet
*.sqlite
*.db

# AWS / keys (if you keep .aws here, ignore it)
.aws/
*.pem
*.key

# Git LFS - don't accidentally add big binaries
*.zip
*.tar.gz
